SistemasDistribuidos/Reserva/App_WebReferences/SRConnector/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/BEGDSConnector" />
  <xs:element name="retrievePNRData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBE" nillable="true" type="q1:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrievePNRDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="retrievePNRDataResult" nillable="true" type="q2:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOTAMessageTkting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBE" nillable="true" type="q3:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOTAMessageTktingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="getOTAMessageTktingResult" nillable="true" type="q4:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveFlightAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBEPSRequest" nillable="true" type="q5:BERequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveFlightAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="retrieveFlightAvailabilityResult" nillable="true" type="q6:ArrayOfBEAvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBEPnr" nillable="true" type="q7:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="bookFlightResult" nillable="true" type="q8:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NativeMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBEPnr" nillable="true" type="q9:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NativeModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBEPnr" nillable="true" type="q10:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelPNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BEGDSConnector" minOccurs="0" name="oBEPnr" nillable="true" type="q11:BEPnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelPNRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>