SistemasDistribuidos/Reserva/App_WebReferences/SRConnector/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2456/WCFConsultas/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BEEmisiones" />
  <xs:element name="obtenerDisponibilidadVuelos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BEEmisiones" minOccurs="0" name="oBEConsulta" nillable="true" type="q1:BEConsultaDispo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDisponibilidadVuelosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BEEmisiones" minOccurs="0" name="obtenerDisponibilidadVuelosResult" nillable="true" type="q2:ArrayOfBEDisponibilidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDatosReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BEEmisiones" minOccurs="0" name="oBE" nillable="true" type="q3:BEReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDatosReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BEEmisiones" minOccurs="0" name="obtenerDatosReservaResult" nillable="true" type="q4:ArrayOfBEItinerario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>