SistemasDistribuidos/Reserva/App_WebReferences/SRConnector/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BEEmisiones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BEEmisiones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEConsultaDispo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adultos" type="xs:int" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultaDispo" nillable="true" type="tns:BEConsultaDispo" />
  <xs:complexType name="ArrayOfBEDisponibilidades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDisponibilidades" nillable="true" type="tns:BEDisponibilidades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDisponibilidades" nillable="true" type="tns:ArrayOfBEDisponibilidades" />
  <xs:complexType name="BEDisponibilidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrecioTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loItinerario" nillable="true" type="tns:ArrayOfBEItinerario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDisponibilidades" nillable="true" type="tns:BEDisponibilidades" />
  <xs:complexType name="ArrayOfBEItinerario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEItinerario" nillable="true" type="tns:BEItinerario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEItinerario" nillable="true" type="tns:ArrayOfBEItinerario" />
  <xs:complexType name="BEItinerario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aerolinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraLlegada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraSalida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDItinerario" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroVuelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEItinerario" nillable="true" type="tns:BEItinerario" />
  <xs:complexType name="BEReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasajero" nillable="true" type="tns:BEPasajero" />
      <xs:element minOccurs="0" name="loBEItinerario" nillable="true" type="tns:ArrayOfBEItinerario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEReserva" nillable="true" type="tns:BEReserva" />
  <xs:complexType name="BEPasajero">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineaCredito" type="xs:double" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarifa" nillable="true" type="tns:BETarifas" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPasajero" nillable="true" type="tns:BEPasajero" />
  <xs:complexType name="BETarifas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Base" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Impuestos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPasajero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETarifas" nillable="true" type="tns:BETarifas" />
</xs:schema>